<html>
<head>
<meta charset="UTF-8"> 
<title>O Chouso Soft Knownledge DB</title>

<style>


@page { size: A4 landscape }

img{
	width: 200px;	
}

</style>
</head>
<body>
	<h2>Xente por país</h2>
	<img src="http://nick-intl.mtvnimages.com/uri/mgid:file:gsp:scenic:/international/nickelodeon.es/v2/bobok1.jpg?quality=0.75&height=480&width=null&matte=true&crop=false" style="width: 700px;height:400px;" />


	<h2>Xente por comunidade</h2>
	<img src="{srcImg1}" style="width: 700px;height:400px;"  />


	<h2>Xente por provincia</h2>
	<img src="{srcImg2}" style="width: 700px;height:400px;" />


</body>
</html>
