<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img id="header-img" src="assets/img/header-logo.jpeg" class="img-fluid pull-xs-left" style="height: 35px;">
  </a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>  -->
    </ul>
    <form *ngIf="Auth.isAuthenticated()" class="form-inline mt-2 mt-md-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Bienvenido, {{Auth.getUserName()}}
      </button>
      &nbsp;&nbsp;&nbsp;
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" (click)="logOut()">
        <i class="fa fa-power-off" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</nav>
